.row{
    width: 110px;
    height: 56px;
    margin: 32px;
    background-color: #F7F8F8;
    text-align: center;
    line-height: 50px;
}

.seat1{
    width: 110px;
    height: 56px;
    margin: 32px;
    border-radius: 12px;
    background-color: #F7F8F8;
    text-align: center;
    line-height: 50px;
}

.seat{
    width: 110px;
    height: 56px;
    margin: 32px;
    border-radius: 12px;
    background-color: #F7F8F8;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.selected-seats{
    margin-top: 20px;
}

.total-price{
    margin-top: 10px;
}

#couponInput{
    margin-top: 10px;
}

#applyCouponButton{
    margin-top: 5px;
}

.success-message-section{
    display: none;
}